{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "auto",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
