$mobile-width: 48rem;

$font-sans: 'Poppins', sans-serif;
$font-serif: 'Baskervville', Georgia, serif;
$font-regrade: 'Neue Regrade', sans-serif;
$font-mono: 'Geist Mono', monospace;

$white: #ffffff;
$white-88: #ffffffe0;
$white-75: #ffffffbf;
$white75: #ffffffbf;
$white-60: #ffffff99;
$white60: #ffffff99;
$white-55: #ffffff8c;
$white-30: #ffffff4d;
$white-24: #ffffff3d;
$white-12: #ffffff1f;
$white10: #ffffff1a;
$white-5: #ffffff0d;

$black: #000000;
$black-90: #191919;
$black-85: #252525;
$black80: #000000cc;
$black60: #00000099;
$black50: #00000080;
$black20: #00000033;
$black10: #0000001a;
$black15: #1e1e1e;
$black-8: #00000014;
$black-5: #0000000d;
$black-4: #0000000a;
$black-2: #00000005;
$black-soft: #111111;

$charcoal: #12100d;
$graphte: #6c6c6c;
$silver: #d9d9d9;

$cream: #f0ebe3;
$cream-light: #fff7ea;
$cream-60: #fef7eb99;
$cream-50: #f9f1e2;
$cream: #f0ebe3;
$cream-150: #efe6d5;
$cream-200: #eee2cd;
$cream-250: #d7c9b7;
$cream-400: #f7efe2;
$cream-75: #f4efdf;

$beige-light: #faebd2;
$warm-light: #eec1a8;
$warm-dark: #7a4e2d;
$brown-10: #363636;
$graphite-500: #797979;

$lavender: #dbd5fb;

$crimson: #e63a2e;
$crimson-45: rgba(230, 58, 46, 0.45);
