@use '../../../../styles/variables' as *;
@use '../../../../styles/animations' as *;

.section {
  padding: 8rem 8rem 6rem;
  background-color: $cream-light;

  @media (max-width: $mobile-width) {
    padding: 5rem 0 2rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  text-align: center;

  @media (max-width: $mobile-width) {
    padding: 0 2rem;
  }
}

.headline {
  margin-bottom: 0.5rem;
  color: $black;
  font-family: 'Hedvig Letters Serif';
  font-size: 4rem;
  font-weight: 400;
  line-height: 7.8rem;

  @media (max-width: $mobile-width) {
    line-height: 4.8rem;
  }
}

.description {
  color: $black;
  font-family: 'Poppins';
  font-size: 1.8rem;

  @media (max-width: $mobile-width) {
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.tableWrapper {
  overflow-x: auto;
  border: 0.3px solid $graphite-500;

  @media (max-width: $mobile-width) {
    overflow: visible;
    border: none;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 0.3px solid $graphite-500;
  overflow: hidden;

  @media (max-width: $mobile-width) {
    display: block;
    border: none;
    overflow: visible;

    thead {
      display: block;
      position: sticky;
      top: 0;
      z-index: 999;
      background-color: $cream-150;

      padding: 2rem 0;

      tr {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    tbody {
      display: block;
    }
  }
}

.thFeature {
  width: 40%;
  padding: 1.8rem 3.5rem;
  border-right: 0.3px solid $graphite-500;
  color: $black;
  font-family: 'Geist Mono';
  font-size: 2.4rem;
  font-weight: 400;
  text-align: left;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.th {
  padding: 1.8rem 3.5rem;
  color: $black;
  font-family: 'Geist Mono';
  font-size: 2.4rem;
  font-weight: 400;
  text-align: left;

  @media (max-width: $mobile-width) {
    padding: 1.4rem 0;
    font-size: 1.6rem;
    text-align: center;
  }
}

.categoryRow {
  background-color: $cream-150;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.categoryCell {
  padding: 1.5rem 3.5rem;
  font-family: 'Geist Mono';
  font-size: 1.5rem;

  @media (max-width: $mobile-width) {
    display: block;
    padding: 3rem 2rem 2.5rem 2rem;
    color: $black;
  }
}

.row {
  border-bottom: 0.3px solid $graphite-500;

  &:last-child {
    border-bottom: none;
  }

  @media (max-width: $mobile-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    border-bottom: none;
  }
}

.featureCell {
  padding: 2rem 3.5rem;
  color: $black;
  font-family: 'Poppins';
  font-size: 1.6rem;

  @media (max-width: $mobile-width) {
    grid-column: 1 / -1;
    grid-row: 1;
    padding: 1.8rem 1.5rem;
    font-size: 1.4rem;
    color: $black60;
    background-color: $cream-150;
  }
}

.valueCell {
  padding: 1.5rem 3.5rem;
  color: $black;
  font-family: 'Poppins';
  font-size: 1.6rem;

  @media (max-width: $mobile-width) {
    grid-row: 2;
    padding: 1.5rem 0 1.5rem;
    font-size: 1.4rem;
    text-align: center;
    vertical-align: middle;
  }
}

.basic {
  color: $black;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.viewLessBtn {
  justify-self: center;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  margin-top: 3rem;
  border: none;
  background: transparent;
  color: $black;
  font-family: 'Neue Regrade';
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    .arrow {
      animation: arrowBounceUp 0.8s ease-in-out infinite;
    }
  }

  .arrow {
    transform: rotate(180deg);
  }

  @media (max-width: $mobile-width) {
    font-size: 1.6rem;
    font-weight: 500;
  }
}
