@use '@/styles' as *;

.label {
  font-family: $font-mono;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $white60;
  position: relative;
}

.dot {
  position: absolute;
  left: -1.5rem;
  bottom: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
}
