@use '@/styles' as *;

.section {
  background: $cream;
  padding: 8rem 12rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  max-width: 128rem;
  margin: 0 auto;
  width: 100%;
}

.heroCard {
  position: relative;
  min-height: 60rem;
  width: 56rem;
  background-color: $charcoal;
}

.devImg {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-3rem);
}

.heroCardContent {
  position: absolute;
  inset: 0;
  padding: 3.2rem;
  display: flex;
  align-items: flex-start;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 50%);
}

.heroCardText {
  font-family: $font-regrade;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2;
  max-width: 32rem;
  color: $white;

  em {
    font-family: $font-serif;
    font-style: italic;
  }
}

.statsColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.2rem;
}

.statCard {
  &:first-child {
    grid-column: 1 / -1;
  }
  position: relative;
  border-radius: 0.6rem;
  padding: 2.7rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.2rem;
  overflow: hidden;
}

.statValue {
  position: relative;
  z-index: 1;
  font-family: $font-regrade;
  font-size: 9rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

.statLabel {
  font-family: $font-sans;
  position: relative;
  z-index: 1;
  color: $white;
  font-size: 2.4rem;
  font-weight: 300;
}

.warm {
  background-image: var(--stat-bg);
  background-size: cover;
  background-position: center;
  color: $white;
}

.lavender {
  background: $lavender;
  color: $charcoal;
}

.dark {
  background: $black;
  color: $white;
}

.fasterTestingValue {
  font-size: 5rem;
  font-family: $font-regrade;
}

.fasterTestingLabel {
  font-family: $font-sans;
  font-size: 1.75rem;
  color: $black15;
  line-height: 2.5rem;
  font-weight: 400;
}

.reductionIncidentsValue {
  font-size: 5rem;
  font-family: $font-regrade;
}

.reductionIncidentsLabel {
  font-family: $font-sans;
  font-size: 1.75rem;
  max-width: 18rem;
  color: $white;
  line-height: 2.5rem;
  font-weight: 400;
}

@include mobile {
  .section {
    padding: 6rem 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .heroCard {
    min-height: 36rem;
  }

  .heroCardText {
    font-size: 2.4rem;
  }

  .statsColumn {
    grid-template-columns: 1fr;
  }

  .statValue {
    font-size: 4.8rem;
  }
}
